<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335469868651-0sg2rvcnd7llgt07cnptigd41on87pav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335469868651-0sg2rvcnd7llgt07cnptigd41on87pav</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>335469868651-8r7d9ndpjocgt0f56e7tc8vq21kv3uem.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQhDsS38F3xKMqjY7__YTXGTtJF7_ilOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>335469868651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.futcrick</string>
	<key>PROJECT_ID</key>
	<string>futcrick-f5735</string>
	<key>STORAGE_BUCKET</key>
	<string>futcrick-f5735.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335469868651:ios:c15ec36653afdb8b86232e</string>
</dict>
</plist>